@import url(https://fonts.googleapis.com/css?family=Lobster);


.name-logo-container, .name-logo {
  height: 20%;
  width: 100%;
}
.name-logo {
  font-family: Lobster;
  text-align: center;
  position: relative;
  font-size: 100px;
}
