html, #mount, .default-container {
  height: 100%;
  width: 100%;
}
body {
  background-color: rgb(50,50,50);
  color: rgb(250,250,100);
  width: 100%;
  height: 100%;
}

.default-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}











/////////////
//Components

@import 'stylesheets/menu';
@import 'stylesheets/home';
@import 'stylesheets/bio';
@import 'stylesheets/footer';
@import 'stylesheets/oss';
@import 'stylesheets/calc_clone';
@import 'stylesheets/tweet_regen';
@import 'stylesheets/bat';
